/*--------------------HTMLPage--------------------*/
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

div {
	display: block;
}

body{
	font-family: 'Montserrat', sans-serif;
}

h2{
	letter-spacing: 3px;
	font-size: 3.75rem;
	margin-bottom: 75px;
	text-align: center;
}

p{
	font-size: 1.125rem;
}

.container{
	display: flex;
	flex-direction: column;
	padding: 5.3125rem 5.3125rem 5.3125rem 5.3125rem;
	width: 100%;
}

/*--------------------NavBar--------------------*/

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	width: 100%;
	color: white;
	position: fixed;
	z-index: 99;
}

.nav-logo{
	width: 250px;
}

.nav-logo img{
	display: none;
	width: 60px;
}

nav h2 {
	color: black;
	font-size: 22px;
	display: hidden;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 37.5rem;
}

.nav-links li {
	list-style: none;
}

li:hover {
	text-decoration: underline;
}

.nav-links a {
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 16px;
	color: black;
}

.burger {
	display: none;
	cursor: pointer;
}

.burger div {
	width: 25px;
	height: 3px;
	background-color: white;
	margin: 5px;
	transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
	.nav-links {
		display: flex;
		justify-content: space-around;
		width: 60%;
	}
}

@media screen and (max-width: 768px) {
	body {
		overflow-x: hidden;
	}

	.nav-links {
		position: absolute;
		right: 0px;
		height: 45vh;
		top: 8vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
		justify-content: space-around;
		background: whitesmoke;
	}

	.nav-links li {
		opacity: 0%;
	}

	.burger {
		display: block;
	}
}

.is-solid{
	background-image: linear-gradient(rgb(208, 206, 209), rgb(218, 216, 217) );
}

.nav-active {
	transform: translateX(0%);
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

/*--------------------Home--------------------*/

#Home {
	height: 100vh;
	background-image: url("../img/bg.jpg");
	background-color: whitesmoke;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 3px 3px 5px 6px #ccc;
}

#logo{
	width: 26.5625rem;
	margin-bottom: 1.875rem;
}

#Home span{
	margin-bottom: 10.9375rem;
}

#Home button{
	cursor: pointer;
	border-style: solid;
	border-width: 4px;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 20px;
	height: 60px;
	width: 255px;
	outline: none;
	font-family: 'Montserrat', sans-serif;
}

#Home button:hover{
	color: black;
}

#learnMoreBtn{
	background: grey;
	border-color: grey;
}

#bookAppointmentBtn{
	background: orange;
	border-color: orange;
}

/*--------------------About--------------------*/

#About{
	justify-content: space-evenly;
	align-items: center;
}

#Crew {
	display: grid;
	grid-template-columns: auto auto auto;
	justify-items: space-evenly;
	align-content: space-evenly;
	text-align: center;
	grid-gap: 10rem;
	height: auto;
}

#Carousel{
	display: none;
}

#About-Content p{
	font-size: 28px;
	font-weight: 700;
	line-height: 5rem;
	font-family: 'Merienda One', cursive;
  	color: rgba(0,0,0,0.7);
	text-shadow: 3px 3px 3px #fff;
	text-align: center;
}

#About > span{
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-items: center;
	align-items: center;
	margin: 1.875rem;
	width: 56.25rem;
}

#About > span p{
	font-size: 20px;
	font-style: italic;
	padding: 2.5rem 3.75rem 0.625rem 3.75rem;
}

.carousel-item-a {
	border-radius: 16px;
	width: 20rem;
	height: 25rem;
	box-shadow: 3px 3px 5px 6px #ccc;
}

/*--------------------Gallery--------------------*/

#Gallery{
	justify-content: space-evenly;
	align-items: center;
}

#Gallery-Content{
	display: grid;
	grid-template-columns: auto auto auto;
	justify-items: space-evenly;
	align-content: space-evenly;
	grid-gap: 2.25rem;
	height: auto;
}

.grid-item-g {
	border-radius: 16px;
	width: 25rem;
	height: 25rem;
	justify-items: center;
	align-items: center;
	box-shadow: 3px 3px 5px 6px #ccc;
}

/*--------------------Contact--------------------*/

#Contact{
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 0rem;
}

#Contact span{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 10px;
}

#Contact-Content{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 80%;
}

#Contact-Details{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

#Social-Links{
	cursor: pointer;
}

#Social-Links span:hover{
	cursor: pointer;
	transform: scale(1.25);
	transition: transform 0.25s ease-in;
}

#Hours{
	margin-top: 1.25rem;
}

#Hours-Content p{
	line-height: 35px;
}

#Footer-Text{
	width: 100%;
	text-align: center;
	font-size: 12px;
	padding: 3.125rem 3.125rem 0rem 3.125rem;
	margin-bottom: 1.5625rem;
}

/*--------------------MediaQueries--------------------*/

@media only screen and (max-width: 1360px) {
	#Carousel{
		display: block;
	}
	#Crew{
		display: none;
	}

}

@media only screen and (max-width: 1540px) {
	/*----------HTMLPage----------*/
	body div {
		scroll-margin: 20%;
	}

	.carousel-item-a{
		width: 17.5em;
		height: auto;
	}

	.grid-item-g{
		width: 100%;
		height: auto;
		justify-items: center;
		align-items: center;
	}
	
}


@media only screen and (max-width: 900px) {
	/*----------HTMLPage----------*/
	iframe{
		margin-top: 60px;
		width: 100%;
		height: 20em;
	}

	.container{
		padding: 20px 50px 20px 50px;
	}

	/*----------Home----------*/
	#Home{
		background-image: url("../img/bg-mobile.jpg");
	}	

	#Home > span{
		display: flex;
		flex-direction: column;
		margin-bottom: 225px;
	}

	#Home button{
		margin: 2.5px;
	}

	#logo{
		width: 275px;
		margin: 25px;
	}

	/*----------About----------*/
	#About > span{
		width: 100%;
	}

	
	/*----------Gallery----------*/
	#Gallery-Content {
		grid-template-columns: auto auto;
		grid-gap: 3em 1em;
	}


	#Contact-Content{
		flex-direction: column;
	}

	#Social-Links{
		display: flex;
		flex-direction: row;
	}
}

/*----------Carousel----------*/
.slideshow-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
  }
    
  .prev, .next {
	cursor: pointer;
	width: auto;
	padding: 8px;
	color: black;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
  }
  
 .prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
  }

  .dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
	background-color: #717171;
  }
  
  .fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }
  
  @keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }